# Version control
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# OS specific
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yaml
.dockerignore

# Tests
test/
tests/

# Documentation
README.md
LICENSE

# Editor settings
.vscode/
.idea/
*.swp
*.swo
